.matching-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.big-container {
    display: flex;
    align-items: center;
}

aside h4 {
    font-weight: 500;
    font-size: 30px;
}

main button {
    cursor: pointer
}

main button:disabled {
    cursor: default;
}

.match-button {
    margin: 20px;
}