.matching-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.big-container {
    display: flex;
    align-items: center;
}

aside {
    background-color: #FF9000;
    color: white;
}

aside .line {
    width: 80%;
    height: 1px;
    background: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

aside h4 {
    font-weight: 500;
    font-size: 30px;
}

main button {
    cursor: pointer
}

main button:disabled {
    cursor: default;
}